/*

- RESET(*) and ROOT CSS (:root)
  -BROWSER (html)
    - BODY (body)
      - ROOT (#root)
        - HEADER
        - MAIN

*/

/* ----- IMPORTS ----   */
@import url('./assets/css/animations.css');
@import url('./assets/css/navigation.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&family=Alata&family=Cinzel:wght@500&display=swap');


*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-y:scroll; */
}

/* VARIABLES AND ROOT STYLING */
:root{
  --col-bkg-dark-primary:rgba(38, 35, 40, 0.78);
  --col-bkg-dark-secondary:rgba(0, 6, 17, 0.78);
  --col-nk-light-white: rgb(245, 245, 245, 0.8); 
  --col-clear-: rgba(255, 255, 255, 0);
  --col-primary-bkg-: rgba(128, 0, 128, 0.8);
  --col-white  : rgba(216, 215, 216,0.8);
  --col-primary : rgba(108, 24, 120, 0.96);
  --col-secondary: rgba(104, 197, 168, 0.8);
  font-family: 'Raleway', sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--col-white);
}




/* ----- WHOLE BROWSER ----   */
html{
  background-color: black;
  min-width: 320px;
  /* overflow-y: scroll; */
  height: 100vh;
}
  /* --- SINGLE PAGE APPLICATION --- */
  #root {
    /* background-color: purple; */
    /* remove if we want to take over whole page */
      margin: 0 auto;
      height: 100vh;
      display: flex;
      flex-direction: column;
    /* center the whole page */

      /* background-color: purple; */
    }


      /* ---- MAIN SECTION OF SPA --- */
      main:first-of-type{
        /* makes nav then main */
        overflow-y: scroll;
        height: 100%;
        /* REMOVE IF WANTING WHOLE PAGE WIDTH */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        /* training wheels */
        /* background-color: pink; */
      }


/* ----   END OF SKELETON APP STYLING BEGINS ------ */








/*  --------- MEDIA BREAKS ------------ */
/* WEBPAGE */
@media only screen and (min-width: 1400px){
  body{
    background-color: red;
    /* makes it better to see */
    font-size: 1.2em;
  }
}






/*  --------- OTHER ------------ */
button, a{
  font-size: inherit;
  text-decoration: none;
}


/* ------------- background ------- */
#bk-vid {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 105vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}

.hide{
  /* add imporant for hamburger bypass */
  display: none !important;
}


#catchall{
  max-width: 20em;
}