@import url('../../App.css');
/*
PAGE NAVIGATION (#page-nav-bar)
    - LOGO (.logo)
    - SITE NAVIGATION (#site-nav)
        - LINKS
    - USER NAVIGATION (#user-nav)
        - BUTTON
        - LINK
*/

/*-----------   GLOBAL NAV BEGINS --------*/
/* FOR INACTIVE CLICKS */
.hide-nav :not(:first-child){
    display: none;
}



/*-----------   MOBILE NAV BEGINS --------*/
#page-nav-bar{
/* floating */
position: absolute;
left: 2em;
bottom: 2em;
z-index: 2;
/* center */
background-color: var(--bk-primary);
display: flex;
flex-direction: column-reverse;
justify-content: space-between;
/* background */
border-radius: 1em;
/* typography */

}
    /* ICON */
    #page-nav-bar .logo{
        width: 5em;
    }

    /* USER NAV */
    #site-nav a, #user-nav a{
    /* makes all the links above eachother */
    display: block;
    padding: 1em;
    }
        /* login button */
        #user-nav > button{
            /* looks prettier - small specific */
            padding-top: 1em;
        }
    





/* ------ HAMBURGER SKELETON ENDS, APP STYLE BEGINS */