
  /* main{
    flex: 10;
    overflow-y: scroll;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    animation: fadeIn ease both 10s;
    padding: 1em;
  } */
  /* header{
    flex: 1;
  } */
  
    /* NAVBAR HAMBURGER */
    #nav-bar {
        position: absolute;
        left: 2em;
        bottom: 2em;
        z-index: 2;
        border-radius: 2em;
        /* flex for pop and desktop */
        display: flex;
        flex-direction: column-reverse;
        width: min-content;
        /* gap: .5em; */
        text-align: center;            
        font-family: Cinzel;
        font-weight: bolder;
      }
      #nav-links a{
        text-decoration: none;
        /* mobile move to the next line */
        text-align: center;
        display: block;
        /* make more padding */
        padding: .4em;
        font-size: 1em;
        color: inherit;
      }
      #nav-links{
          background-color: var(--col-bkg-dark-primary);
          border-radius: 0 0 1em 1em;
        }
        #logo-icon{
          width: 5em;
          margin: 0 auto;
          background-color: var(--col-clear-);
        }
        #user-icon{
          background-color: var(--col-white);
          font-size: 1.5em;
        }
        /* show when responsive */
        .hide {
          display: none;
        }
      
      @media only screen and (min-width: 850px) {
        /* NAVBAR WEBSITE */
        /* hide menu icon when large */
        #nav-bar {
          /* make larger and thinner */
          position: static;
          width: 100%;
          height: min-content;
          /* color whole bar */
          background-color: var(--col-bkg-dark-secondary);
          /* border-radius: 0 0 4em 4em; */
          /* space pretty which wasn't needed in hamburger */
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 0 5em;
          border-radius: 0 0 1.5em 1.5em;
        }
          #nav-links{
              /* undu display block */
              display: flex;
              /* remove background color */
              background-color: var(--col-clear-);
            }
          #user-icon{
            /* show up again */
            display: static;
            /* make larger */
      
            border-radius: 1em !important;
            /* remove background */
            border-radius: 70%;
            padding: .5em;
            background-color: var(--col-clear-);
          }
          #logo-icon{
            /* make smaller to keep bar samll*/
            width: 5em;
            margin: .1em;
            background-color: var(--col-clear-);
          }
      }
      
      
      
      
      /* #################### PAGE SPECIFICS ################## */
      /* FADE INS */
      #catchall{
        padding: 5em;
        animation: bounce-top 8s both;
        height: 90%;
        border-radius: 50%;
        opacity: .87;
      }
      
      
      button{
        background-color: rgba(128, 128, 128, 0.6);
        /* background-color: rgba(240, 248, 255, 0); */
        border: none;
        padding: .5em;
      }
      
      #user-icon{
        border-radius: 1em 1em 0 0;
      
      }
      
      
      section{
        border-radius: 1em;
        padding: 1em;
        width: fit-content;
        background-color: var(--col-bkg-dark-primary);
      }
      
      h1, h2, h3, h4, h5, h6{
        font-family: Cinzel;
        font-weight: bolder;
        background-color: rgba(104, 197, 168, 0.8);
        border-radius: 1em;
        padding: .05em .5em;
      }
      h1{
        font-size: 2em;
      }
      h2{
        font-size: 1.5em;
      }